h2 {
  text-align: center;
  color: #660066;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000066;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccccff;
}
