h2 {
  text-align: center;
  color: #660066;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000066;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccccff;
}
img {
    border: 1px solid #ddd;
    border-radius: 40px;
    height: 220px;
    width: 200px;
}
.rest {
    height: 160px;
    width: 120px;
}
.block {
    display:inline-block;
}
.name {

    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: darkmagenta;

}
.namenorank {

    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: darkmagenta;
}
